@CHARSET "ISO-8859-1";

body {
	background-image: url("imagens/gado04.jpg") ;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	
}

img {
    width: 100%;
    height: auto;
}


.descricao {
	float:inherit;	
	width:100%;
	padding-top:2px;
	background: #2E3192;
	border-style:solid;
	border-color:#DE761D;
	
}

.fotosShow{
	right:10px;
	width:150px;
	height:150px;
	border-style:solid;
		
}

.fot{
	width:150px;
	height:150px;
}

.titulo{
	color: #2E3192;
	border-color: white;
	font-size: 450%;
	padding:0px 0px; 
}

h3{
	font-size: 200%;	
}


.linha4{
	color:yellow;
}

h2{
	color:white;
	padding: 0px:
}

.ender1{
	position:absolute;
	left:4px;
	top:1px;
}

.ender2{
	position:absolute;
	left:1px;
	top:25px;
}

.contato{
	position:absolute;
	right:250px;
}
.whats{
	width:30px;
	height:30px;
	
}

.tel1{
	position:absolute;
	right:120px;
	bottom:15%;
	font-size: 15%:
		
}
.tel2{
	position:absolute;
	right:120px;
	top:30px;
		
}

.email{
	position:absolute;
	right:650px;
	bottom:0px;
}

.emaildescricao{
	position:absolute;
	right:350px;
	top:70px;
}

.nome{
	position:absolute;
	right:490px;
	top:30px;
}